.header {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
}

.logo {
  width: 140px;
  margin-left: 2px;
  background-color: black;
}

.nav-items {
  padding: 0px 20px;
  border-radius: 30px;
  background-color: rgb(229, 229, 229);
  height: 60px;
  /* border: 1px solid red;
   */
  /* display: flex;
  list-style-type: none;
  margin-top: -6px;
  margin-left: -45px; */
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  margin-top: 0px;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-card {
  margin-top: 5px;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 5px;
  width: 200px;
  font-size: 12px;
  background-color: rgb(149, 149, 149);
  color: white;
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  box-shadow: 0 4px 8px rgba(1, 0, 0, 0.3); /* Adjust shadow color and intensity as needed */
  border: 2px solid grey;
}

.res-logo {
  display: block;
  font-size: 14px;
  margin-left: -7px;
  margin-right: auto;
  cursor: pointer;
  width: 214px;
  height: 180px;
  margin-top: -7px;
}
.res-card:hover {
  border: 1px solid rgb(182, 181, 181);
  /* transform: scale(1.05); */
  cursor: pointer;
}

.search-btn {
  border-radius: 10px;
  border: 0px;
  height: 30px;
  margin-top: -3px;
  margin-left: 9px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 88px;
}

/* .filter-btn{
  margin: 10px;
  cursor: pointer;
  border-radius: 12px;
  border: 0px;
} */
.gb {
  padding: 8px 20px;
  margin-right: 25px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 4px;
}

.gb-bordered {
  padding: 6px 20px;
  position: relative;
  border: 4px solid transparent;
}